body {
    margin: 0px auto;
    width: 960px;
    padding: 0;
    font: 14px/20px Helvetica, Verdana, sans-serif;
    color: #123;
    }
span{
    color:rgb(243, 10, 10);
    font-size: 150%;
}
input{
    margin: 10px;
}
/* #container{
   max-width: 960px;
    padding: 25px; 
    margin: 0px auto;
} */

header {
    width: 100%;
    height: 120px;
    padding: 4px 12px;
    background-color: #69f;
    color: #fff;
}
.boxTitle{
    background-color: #fff;
    padding: 20px;
    height: 20px;
}
#tagline {
    margin: 0 4px;;
}

#menu ul {
    margin: 0;
}
#menu li {
    list-style-type: none;
    display: inline-block;
    margin: 0 48px 0 -36px;
    padding: 10px;
}
button{
    width: 100px;
    height: 50px;
    background-color: #123;
    color: #fff;
}
#content-box {
    padding: 8px;
}
article {
    margin-bottom: 12px;
}
aside{
    padding: 20px;
    margin: 15px 0;
    background-color:rgb(235, 163, 235);
    width: 25%;
}
aside li{
    margin: 15px;
    width: 80%;
    background-color: rgb(236, 198, 233);
    padding: 10px;
}
footer {
    margin-top: 10px;
    padding-top: 8px;
    text-align: center;
    border-top: 1px solid #69f;
    color: #69f;
}
.sober{
    background-color: darkgray;
    border:2px solid #000;
    width: 1024px;
    height: 700px;
    padding: 25px;
    color:rgb(0, 88, 160);
}
.speels{
    background-color: rgb(246, 204, 14);
    border: 20px solid rgb(251, 1, 1);
    width: 1024px;
    height: 700px;
    padding: 25px;
    color:rgb(51, 0, 160);
}
.bigFun{
    font-size: xx-large;
    font-weight: bolder;
}
.geen{
    background-image: url("../images/seamless-pattern.jpg");
    background-repeat: repeat;
    background-color: rgb(145, 203, 250);
    height: 900px;
}